@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
.loading-hide {
  display: none;
}
h2 {
  font-size: 2em;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: "Heebo", serif;
}
body div {
  margin: 0;
  padding: 0px;
}
header div {
  display: flex;
  justify-content: space-between;
}
.container {
  margin: 0 auto;
  max-width: 1250px;
}
header img {
  animation: load 12s 0s infinite;
}
header ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-right: 200px;
}
header ul li {
  margin: 0.25em 2em 0em 2em;
}
header ul li a {
  text-decoration: none;
  color: black;
}
.general_cases {
  margin: 7% 2% 7% 2%;
  text-align: center;
  
  background-image: linear-gradient(
    to right,
    rgb(255, 115, 0),
    rgb(150, 68, 1)
  );

  padding: 0.5em 0 0.5em 0;
}

.general_cases h1 {
  font-size: 1.75em;
  margin: 10% 0% 10% 0%;
}

.general_cases ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  padding: 0;
}
.general_cases ul li {
  border-radius: 10px;

  width: 15%;
  font-size: 1.5em;

  padding: 1%;
  font-weight: 600;
  background-color: white;
}
.general_cases ul li p {
  margin: 0.1em;
}
.active {
  color: tomato;
}
.confirmed {
  color: rgb(201, 161, 74);
}
.deaths {
  color: rgb(30, 33, 34);
}
.recovered {
  color: rgb(67, 207, 55);
}
.hero {
  background-image: linear-gradient(
    to right,
    rgb(255, 115, 0),
    rgb(150, 68, 1)
  );
  background-position-x: 29%;
  width: 100%;
  margin: 4em auto 0 auto;
  padding: 4em 0 4em 0;

  text-align: center;
}
.hero h1 {
  color: white;
  margin: auto auto 1em auto;
}

@keyframes flaot {
  0% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(-4px);
  }
}
.hero img {
  animation-name: flaot;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}
.graph_section {
  margin: auto;
  padding: 5% 0% 5% 0%;
  text-align: center;
}
.graph_section div {
  background-image: linear-gradient(
    to right,
    rgb(255, 115, 0),
    rgb(150, 68, 1)
  );
  padding: 0% 5% 0% 5%;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
footer ul li {
  margin: 0 0 0.75em 0;
  font-size: 1.1em;
  color: white;
}
footer ul li a {
  text-decoration: none;
  color: black;
}
footer {
  padding-top: 5px;
  background-image: linear-gradient(
    to right,
    rgb(255, 115, 0),
    rgb(150, 68, 1)
  );
  margin: 0px;
}
footer ul li img {
  filter: invert(1);
}

.contacts {
  font-size: 1.2em;
  text-align: center;
  margin-top: 25px;
  color: white;
}
.loading-show {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  display: flex;
  background-image: linear-gradient(
    to right,
    rgb(255, 115, 0),
    rgb(150, 68, 1)
  );
}

.loading-show img {
  margin: auto;
  animation: load 2s infinite;

  filter: invert(1);
}
@keyframes load {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@media only screen and (max-width: 930px) {
  header h1 {
    font-size: 1.25em;
  }
  .graph_section {
  }
  .general_cases ul li p {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
  }
  footer ul {
    display: block;
    text-align: center;
  }
  .general_cases ul li {
    border-radius: 10px;

    width: 5em;
    box-shadow: 0em 0.1em 1em;
    padding: 0;
    margin: 1em auto 1em auto;
  }
  .general_cases ul {
    display: block;
  }
  .container {
    max-width: 380px;
  }
  header img {
    height: 2em;
    margin-top: 1em;
  }
  h1 {
    font-size: 1em;
  }
  footer p {
    padding: 0;
    margin: 0.25em;
  }
  footer .contacts {
    margin-top: 0.2em;
  }
}
